
.colorPicker .color {
    margin: 16px auto;
    height: 64px;
    width: 64px;
    border-radius: 8px;
    position: relative;
    border: 1px solid #252525;
    outline: 1px solid #8C8C8C;
    outline-radius: 10px;
}

.colorPicker .color:after {
    content: ' ';
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    border: 1px solid white;
    border-radius: 8px;
}

.searchFormsInput{
    height: 35px;
    font-size: 29px;
}

#searchFormsBtn{
    width: 20%;
    height: 35px;
}

#prevCategoryBtn{
    position: absolute;
    left: 30px;
    bottom: 30px;
}

#formList{
    overflow: auto;
    height: 250px;
    margin-top: 15px;
    border-radius: 10px;
    background-color: #252525;
    width: 100%;
}
#signList{
    overflow: auto;
    height: 300px;
    margin-top: 15px;
    border-radius: 10px;
    background-color: #252525;
    width: 100%;
}#medalList{
     overflow: auto;
     height: 300px;
     margin-top: 15px;
     border-radius: 10px;
     background-color: #252525;
     width: 100%;
 }

#initials{
    display: flex;
    justify-content: center;
}

#initialInput{
    width: 60%;
    padding-left: 10px;
    padding-right: 10px;
}
.searchInput{
    width: 100%;
}

.formItems{
    width: 100%;
}
#mainTitle{

}

#flex-box{
    display: flex;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
}

.displayNone{
    display: none;
}

.doneBtn{
    width: 140px;
    height: 50px;
}

.allFormsMenu{
    position: absolute;
}

#flexContainerForViews{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

#signsItemsView {
    width: 100%;
}

#medalsItemsView{
    width: 100%;
}

.flex-column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.common-table-title-container{
    padding-bottom: 10px;
}

.common-table-title{
    font-size: 21px;
    color: white;
    padding-right: 7px;
    padding-left: 7px;
}

.final-screen{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 400px;
}

.big-blue-button{
    cursor: pointer;
    width: 200px;
    height: 60px;
    border-radius: 30px;
    font-size: 18px;
}

.common-table-title-img{
    width: 20px;
}

.clearImg{
    cursor: pointer;
    width: 15px;
    margin-left: 5px;
    margin-right: 5px;
}

#formItemView{
    padding-top: 50px;
    padding-bottom: 50px;
}

.flexTables{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.additionalItems{
    color: white;
    padding-right: 20px;
}

.itemCell{
    margin-right: 5px;
    margin-top: 3px;
    display: inline;
    width: 30px;
    height: 30px;
    border: 1px black solid;
}
.smallItemCell{
    margin-right: 5px;
    margin-top: 3px;
    display: inline;
    width: 20px;
    height: 20px;
    border: 1px black solid;
}
.gradeItemCell{
    margin-right: 5px;
    margin-top: 3px;
    display: inline;
    width: 40px;
    height: 25px;
    border: 1px black solid;
}
.absolute{
    position: absolute;
}

.startFlex{
    display: flex;
}

.circleBtn{
    width: 26.4px;
}
.width100{
    width: 100%;
}
.width70{
    width: 70%;
}

.width60{
    width: 60%;
}

.yellowItems{
    color: #fffee7;
}
.redItems{
    color: #ffdfdf;
}

.switchRightItemsBtn{
    border: 1px solid #c4c4c4;
    border-radius: 10px;
    color: #c4c4c4;
    font-size: 10px;
    padding: 3px;
}

#controlButtons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    padding-top: 30px;
}

.menu-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.imgw60{
    position: relative;
    width: 60px;
    cursor: pointer;
}
.imgw40{
    position: relative;
    width: 40px;
    cursor: pointer;
}

.imgh40{
    position: relative;
    height: 40px;
    cursor: pointer;
}
.imgw30{
    position: relative;
    width: 30px;
    cursor: pointer;
}
.imgw20{
    position: relative;
    width: 20px;
    cursor: pointer;
}
button{
    cursor: pointer;
}
sp-button{
    cursor: pointer;
}
input{
    cursor: pointer;
}
sp-radio{
    cursor: pointer;
}
sp-menu-item{
    cursor: pointer;
}

.progress{
    margin-top: 250px;
    width: 100%;
    height: 5px;
}
.imgh30{
    height: 30px;
    cursor: pointer;
}

.zInd0{
    z-index: 4;
}
.zInd1{
    z-index: 3;
}
.zInd2{
   z-index: 2;
}
.zInd3{
    z-index: 1;
}

.formPreview{
    position: absolute;
    right: 30px;
    bottom: 30px;
}

.itemPreview{
    z-index: 9999;
    position: absolute;
    right: 270px;
    bottom: 15px;
}

.formCategory{
    display: flex;
    justify-content: center;
    align-items: center;
}
.formCategoryContainer{
    cursor: pointer;
    padding: 0 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.categoryNameContainer{
    text-align: center;
    padding-bottom: 10px;
}
.categoryName{
    color: white;
    font-size: 15px;
}

.imgh50{
    height: 50px;
}

.imgw100{
    width: 100px;
}

.img170{
    width: 170px;
}
.select-menu{
    overflow-x: auto;
}


h1,h2{
    color:white;
    text-align: center;
}

@media (prefers-color-scheme: darkest) {
    .colorPicker .color {
        outline-color: #6E6E6E;
    }
}
@media (prefers-color-scheme: light), (prefers-color-scheme: lightest) {
    .colorPicker .color {
        outline-color: #FFFFFF;
    }
}


.colorPicker .filledRange {
    position: relative;
}

.colorPicker .sliderWithInput {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.colorPicker .sliderWithInput > *:first-child {
    flex: 1 1 auto;
}

.colorPicker .sliderWithInput > *:last-child {
    margin-left: 8px;
    flex: 0 0 auto;
    width: 50px;
}
.colorPicker sp-textfield {
    height: 24px;
    background-color: transparent;
}

.colorPicker sp-slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.colorPicker sp-slider:focus {
    outline: 1px solid #2680eb;
    outline-radius: 4px;
}

@media (prefers-color-scheme: darkest), (prefers-color-scheme: lightest) {
    .colorPicker sp-slider:focus {
        outline-color: #2185E6
    }
}
@media (prefers-color-scheme: dark) {
    .colorPicker sp-slider:focus {
        outline-color: #3592EB
    }
}
@media (prefers-color-scheme: light) {
    .colorPicker sp-slider:focus {
        outline-color: #0679E0
    }
}

.colorPicker .gradient {
    margin-top: 21px;
    height: 14px;
    margin-bottom: 28px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    margin-left: 8px; 
    margin-right: 8px;
}

.colorPicker .gradient.red {
    background: linear-gradient(to right, #000000, #FF0000);
}
.colorPicker .gradient.green {
    background: linear-gradient(to right, #000000, #00FF00);
}
.colorPicker .gradient.blue {
    background: linear-gradient(to right, #000000, #0000FF);
}
